<!doctype html>

<html>

  <head>

    <title>Blogz</title>

    <style>

      .error {

        color: red;

      }

      textarea { width: 650px; height: 200px }

    </style>

  </head>

  <body>

    <div style='float: right'>

      {% if 'username' in session %}

        {{ session['username'] }} 

        <form action="/logout" method="post" id='logout'>

          <input type="submit" value="Log Out" />

        </form>

      {% else %}

        <a href="login">login</a> | <a href="signup">Signup</a>

      {% endif %} 

    </div>



    <div>

      <a href="/">Home</a>

      <a href="/blog">All Blogs</a>

      <a href="/newpost">New Post</a>

    </div>



    {% with messages = get_flashed_messages(with_categories=True) %}

    <ul>

      {% for category,message in messages %}

        <li class="{{category}}">{{message}}</li>

      {% endfor %}

    </ul>



    {% endwith %}



    {% block content %}

    {% endblock %}



  </body>

</html>