{% extends "base.html" %}

{% block content %}

<h1>New Post</h1>



<form method="post">

    <table>

        <tr>

            <td><label for="title"><strong>Blog Title:</strong></label></td>

        </tr>



        <tr>

            <td>

		        <input type="text" name="title"/>

            </td>

        </tr>

        

        

        

        <tr>

	        <td><label for="body"><strong>Blog Body:</strong></label></td>

        </tr>

            

        <tr>

            <td>

                <textarea id="body" name="body"></textarea>

            </td>

        </tr>

    </table>

    

    

    <input type="submit" value="Add Entry"/>

</form>



{% endblock %}